<body style="text-align: center; padding-top: 40px; background: url(img/0094.gif)">
	<img src="img/IMG_4157.jpg" alt="" style="width: 30%; border-radius: 20px;">
<p><br><br><a href="https://www.avvay.com"><img src="https://www.avvay.com/img/logo-teal.svg" alt=""></a></p>
<audio controls autoplay>
	<source src="hotdogkit.mp3" type="audio/mpeg">
</audio>
</body>
